.header {
  background: #000000;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  border-bottom: 1px solid #3a3838;
}

.header .header_wrap {
  max-width: 1200px;
  padding: 0 15px;
  height: 60px;

  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .gnb > ul {
  display: flex;
  color: #ffffff;
  gap: 30px;
  font-size: 15px;
  font-family: "Poppins";
}

.header .search img {
  width: 22px;
}

/* //header */

.main_visual .itm {
  width: 100%;
  /* height: calc(100vh - 60px); */
  height: 100vh;
}

.main_visual .itm01 {
  background: url(../img/main01.avif) no-repeat center center/cover;
}

.main_visual .itm02 {
  background: url(../img/main02.avif) no-repeat center center/cover;
}

.main_visual .itm03 {
  background: url(../img/main03.avif) no-repeat center center/cover;
}

.main_visual .itm .slogan {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.main_visual .itm .slogan strong {
  display: block;
  padding-top: 250px;
  color: #f2f2f2;
  font-size: 80px;
  font-weight: 600;
  font-family: "Poppins";
  margin-bottom: 40px;
}

.main_visual .itm .slogan span {
  display: block;
  color: #f2f2f2;
  font-size: 20px;
  font-family: "Poppins";
  margin-bottom: 40px;
}

.main_visual .itm .slogan span:nth-child(2) {
  line-height: 26px;
}

.main_visual .itm03 .slogan p:first-child {
  padding-top: 250px;
  color: #f2f2f2;
  font-size: 22px;
  font-weight: 700;
  font-family: "Poppins";

  /* margin-bottom: 10px; */
}

.main_visual .itm03 .slogan p:nth-child(2) {
  color: #f2f2f2;
  font-size: 80px;
  font-weight: 600;
  font-family: "Poppins";
  margin-bottom: 40px;
}

.main_visual .slogan .btn {
  display: inline-block;
  background: #f2f2f2;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 5px;
}

.main_visual .slogan .btn:hover {
  background: #cccbcb;
  transition: 0.5s;
}

.main_visual {
  position: relative;
}

.main_visual .menu {
  display: flex;
  color: #f2f2f2;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);

  width: 660px;
}

.main_visual .menu li {
  width: 200px;
  text-align: center;
  margin-right: 20px;
  color: #aaaaaa;
  font-family: "Poppins";
  font-weight: 500;
  margin-bottom: 20px;
  padding: 0 0 10px 0;
  position: relative;
}

.main_visual .menu li.on a {
  color: #f2f2f2;
}

.main_visual .menu li::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #aaaaaa;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main_visual .menu li::after {
  content: "";
  width: 0;
  height: 2px;
  background: repeating-linear-gradient(
    -45deg,
    #aaa,
    #aaa 3px,
    #fff 3px,
    #fff 6px
  );
  position: absolute;
  bottom: 0;
  left: 0;
}

.main_visual .menu li.on::after {
  width: 100%;
  transition: 3.5s;
}

/* //main_visual */

.main_content {
  padding: 130px 0;
}

.main_content h2 {
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;

  max-width: 1200px;
  margin: 0 auto 50px auto;
  padding: 0 15px;

  text-align: center;
}

.main_content .con_slide .slick-slide img {
  display: block;
  margin: 0 auto;
  width: 1170px;
}

.main_content .con_slide .con_txt {
  display: none;
  font-family: "Poppins";

  height: 270px;
}

.main_content .con_slide .slick-current .con_txt {
  display: block;
  max-width: 1200px;
  padding: 0 15px;
  margin: 80px auto 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.main_content .con_slide .slick-current .con_txt span {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 10px;
}

.main_content .con_slide .slick-current .con_txt strong {
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  color: #000000;
}

.main_content .con_slide .slick-current .con_txt p {
  padding: 25px 0 0 0;
  font-size: 16px;
  line-height: 23px;
}

.main_content .con_txt .right {
  position: relative;
}

.main_content .con_slide .slick-current .con_txt .btn {
  font-size: 16px;
  background: #000000;
  color: #fff;
  padding: 15px 30px;
  display: inline-block;
  border-radius: 5px;

  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}

.main_content .con_slide .slick-current .con_txt .btn:hover {
  background: #333;
}

.main_content .con_inner {
  position: relative;
}

.main_content .arrows {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main_content .arrows i {
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px 5px;
  font-size: 30px;
}

.main_content .arrows .left {
  position: absolute;
  top: 0;
  left: -670px;
}

.main_content .arrows .right {
  position: absolute;
  top: 0;
  right: -670px;
}

.main_content .con_slide {
  position: relative;
}

.main_content .con_slide .slick-dots {
  position: absolute;
  bottom: 310px;
  right: 50%;
  transform: translate(50%, 0);
}

.main_content .con_slide .slick-dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #cccbcb;
  margin: 0 8px 0 0;
}

.main_content .con_slide .slick-dots li.slick-active {
  background: #000000;
}

.main_content .con_slide .slick-dots button {
  display: none;
}

/* //main_content */

.main_discover {
  padding: 130px 0;
  background: #000000;
}

.main_discover h2 {
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins";
  color: #fff;

  max-width: 1200px;
  margin: 0 auto 50px auto;
  padding: 0 15px;

  text-align: center;
}

.main_discover .top {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto 70px auto;
}

.main_discover .top > ul {
  display: flex;
  justify-content: center;
}

.main_discover .top > ul > li {
  font-size: 18px;
  font-weight: 500;
  color: #757575;
  font-family: "Poppins";
  display: inline-block;
  padding: 0 15px;
  border-right: 1px solid #3a3838;

  cursor: pointer;
}

.main_discover .top > ul > li.on {
  color: #fff;
}

.main_discover .top > ul > li > a {
  position: relative;
}

.main_discover .top > ul > li > a::before {
  content: "";
  width: 0;
  height: 1px;
  background: #fff;

  position: absolute;
  bottom: 0;
  left: 0;
}

.main_discover .top > ul > li.on a::before {
  width: 100%;
  transition: 0.5s;
}

.main_discover .bottom {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main_discover .bottom .dis_inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main_discover .bottom .right {
  margin: auto 0;
}

.main_discover .tab_con li {
  height: 0;
  overflow: hidden;
}

.main_discover .tab_con li.on {
  height: auto;
}

.main_discover .tab_con li .dis_inner figure {
  opacity: 0;
  transform: translate(0, 100px);
  transition: 0.8s;
}

.main_discover .tab_con li.on .dis_inner figure {
  opacity: 1;
  transform: translate(0, 0);
}

.main_discover .tab_con li .dis_inner .right {
  opacity: 0;
  transform: translate(0, 100px);
  transition: 0.8s;
}

.main_discover .tab_con li.on .dis_inner .right {
  opacity: 1;
  transform: translate(0, 0);
}

.main_discover .bottom .right {
  font-family: "Poppins";
}

.main_discover .bottom .right span {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  display: block;
  margin: 0 0 10px 0;
}

.main_discover .bottom .right .rit_tt {
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  color: #fff;
  margin: 0 0 30px 0;
}

.main_discover .bottom .right p {
  color: #fff;
  line-height: 21px;
  margin: 0 0 50px 0;
}

.main_discover .bottom .right .btn {
  background: #fff;
  padding: 15px 30px;
  border-radius: 5px;
}

.main_discover .bottom .right .btn:hover {
  background: #cccbcb;
  transition: 0.5s;
}

/* //main_discover */

.main_product {
  padding: 130px 0 160px 0;
}

.main_product .pro_inner {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.main_product .pro_inner .itm img {
  border-radius: 40px;
}

.main_product .itm01 {
  margin: auto 0;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 3px;
  color: #000000;
}

.main_product .itm {
  position: relative;
}

.main_product .itm .pro_slogan {
  position: absolute;
  top: 0;
  left: 0;

  padding: 30px 40px;
  line-height: 30px;
  font-family: "Poppins";
}

.main_product .itm .pro_slogan span {
  font-size: 14px;
  color: #fff;
}

.main_product .itm .pro_slogan p {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
}

.main_product .itm02 .pro_slogan p:last-child {
  text-shadow: 1px 1px #444;
}

.main_product .itm img {
  transition: 0.5s;
}

.main_product .itm figure:hover img {
  transform: scale(1.1);
}

.main_product .itm figure {
  overflow: hidden;
  border-radius: 40px;
}

/* //main_product */

.main_banner {
  background: url(../img/pixel-technology_kv_pc_3.avif) no-repeat fixed center
    center/cover;
  height: 400px;
  position: relative;
}

.main_banner .banner_tit {
  font-family: "Poppins";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main_banner .banner_tit span {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 2px 2px #444;

  margin-bottom: 10px;
}

.main_banner .banner_tit p {
  font-size: 50px;
  font-weight: 600;
  line-height: 58px;
  color: #fff;
  margin-bottom: 35px;
  text-shadow: 3px 3px 3px #111;
}

.main_banner .banner_tit .btn {
  display: inline-block;
  background: #dfdddd;
  padding: 20px 30px;
  font-size: 18px;
  border-radius: 5px;
  color: #222;
}

.main_banner .banner_tit .btn:hover {
  background: #cccbcb;
  transition: 0.5s;
}

/* //main_banner */

.footer {
  padding: 130px 0 40px 0;
}

.footer .footer_wrap {
  padding: 30px 0;
  border-top: 1px solid #ddd;
  /* border-bottom: 1px solid #ddd; */
}

.footer .top {
  display: flex;
  justify-content: space-between;

  max-width: 1200px;
  padding: 0 15px 30px 0;
  margin: 0 auto;

  border-bottom: 1px solid #ddd;
}

.footer .top > ul > li:first-child {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer .top a {
  line-height: 25px;
  font-size: 15px;
}

.footer .bottom {
  margin-top: 60px;
  text-align: center;
}

.footer .bottom address {
  font-style: normal;
  font-size: 14px;
}
